body{
    background-color: #990000;
    font-family: 'Times New Roman', Times, serif;
}

#header{
    color:yellow;
}

#nav a{
    color: green;
    display: inline;
}

.colorBlue{
    color: blue;
}

.colorRed{
    color: red;
}

table img{
    width: 100%;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
